
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title bg-danger" style="text-align:center;color:white;"> user details</h5>
      <h6 class="card-subtitle mb-2 text-muted">user name: {{users.name}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">phone: {{users.phone}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">email: {{users.email}}</h6>
      <a routerLink='/users' class="card-link bg-danger bg-block" style="text-decoration: none;color:white;">Go Back</a>
    </div>
  </div>
